<!-- Heading and styles should match -->
<div id="component">
    <h3 class="display-4">Customer List</h3>
    <a routerLink="/customers/create" class="badge badge-pill badge-info">New Customer</a>
    <table class="table table-dark table-sm">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Sales</th>
            <th>Active?</th>
            <th>Actions</th>
        </thead>
        <tbody class="table table-dark table-striped" >
            <!-- Loops through the customer array -->
            <tr *ngFor="let c of customers">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.state}}</td>
                <td>{{c.sales | currency}}</td>
                <td>{{c.active ? "YES" : "NO"}}</td>
                <td>{{c.sales | currency}}</td>
                <td>
                    <!-- contain url extensions for our services -->
                    <a routerLink="/customers/detail/{{c.id}}" class="badge badge-pill badge-info">Detail</a><span>|</span>
                    <a routerLink="/customers/edit/{{c.id}}" class="badge badge-pill badge-info">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
