
<app-menu></app-menu>
<div id="component">
    <h3 class="display-4">{{pageTitle}}</h3>
    <a routerLink="/items/create" class="btn btn-info btn-sm">New Item</a><span> | </span>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    <table class="table table-dark table-striped">
        <thead>
            <th><a (click)="sort('id')" class="clickable" >ID</a></th>
            <th><a (click)="sort('upc')" class="clickable" >UPC</a></th>
            <th><a (click)="sort('name')" class="clickable" >Name</a></th>
            <th><a (click)="sort('price')" class="clickable" >Price</a></th>
            <th>Actions</th>
        </thead>
        <tbody class="table table-dark table-striped" >
            <tr *ngFor= "let i of items | itemSearch:searchCriteria | sort:sortCriteria:sortAsc">
                <td>{{i.id}}</td>
                <td>{{i.upc}}</td>
                <td>{{i.name}}</td>
                <td>{{i.price | currency}}</td>
                <td>
                    <a routerLink="/items/detail/{{i.id}}" class="btn btn-info btn-sm">Detail</a><span>|</span>
                    <a routerLink="/items/edit/{{i.id}}" class="btn btn-info btn-sm">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
