<!-- Heading and styles should match -->
<app-menu></app-menu>
<div id="component"> 
    <h3 class="display-4">{{pageTitle}}</h3>
    <a routerLink="/orders/create" class="btn btn-info btn-sm">New Order</a><span> | </span>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    <table class="table table-dark table-striped">
        <thead>
            <th><a (click)="sort('id')" class="clickable" >ID</a></th>
            <th><a (click)="sort('description')" class="clickable">Description</a></th>
            <th><a (click)="sort('total')" class="clickable">Total</a></th>
            <th><a (click)="sort('customerName')" class="clickable">Customer</a></th>
            <th>Actions</th>
        </thead>
        <tbody class="table table-dark table-striped" >
            <!-- Loops through the customer array -->
            <tr *ngFor="let o of orders | orderSearch:searchCriteria | sort:sortCriteria:sortAsc">
                <td>{{o.id}}</td>
                <td>{{o.description}}</td>
                <td>{{o.total}}</td>
                <td>{{o.customer.name}}</td>
                <td>
                    <!-- contain url extensions for our services -->
                    <a routerLink="/orders/detail/{{o.id}}" class="btn btn-info btn-sm">Detail</a><span>|</span>
                    <a routerLink="/orders/lines/{{o.id}}" class="btn btn-info btn-sm">Lines</a><span>|</span>
                    <a routerLink="/orders/edit/{{o.id}}" class="btn btn-info btn-sm">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>